@model IEnumerable<SiteTirelire.Models.Commande>


@{
    ViewBag.Title = "Liste de mes commandes";
}

<h2>Liste de mes commandes</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCommande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatutCommande)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatutCommande)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailCommande", new { id = item.IdCommande }) |
            </td>
        </tr>
    }

</table>
