@model SiteTirelire.Models.Fournisseur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fournisseur</h4>
    <hr />
    <dl class="table">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                   aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                        @Html.DisplayFor(model => model.Nom) <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                 data-parent="#accordionEx">
                <div class="card-body">
                    Partenaire de confiance depuis des années fabricant nos tirelires.
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

    </dl>
</div>






<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFournisseur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
